%script{src: "/assets/blueimp-file-upload/jquery.fileupload-process.js"}
%script{src: "/assets/blueimp-file-upload/jquery.fileupload-image.js"}
%script{src: "/assets/blueimp-file-upload/jquery.fileupload-ui.js"}
:javascript
  $(function(){
    new Demo.newTask();
  });

.container
  %h1
    New Task
  .row
    = render "form"
